<html>
    <head></head>
    <body>
    L'utilisateur <b>{{ user.id }} - {{ user.lastname }} {{ user.firstname }}</b> a rendu le vehicule <b>{{ vehicle.id }} - {{ vehicle.brand }} {{ vehicle.model }} ({{ vehicle.matriculation }})</b> en retard
    </body>
</html>