<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <div class="d-flex justify-content-center">
        <a class="p-2" href="{{ path('home') }}">
            <img src="{{ asset('images/logo.png') }}" width="100" height="30" alt="">
        </a>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item border-warning border rounded mr-2">
                <a class="nav-link text-warning " href="{{ path('vehicleAnnounce') }}">Louer mon vehicule</a>
            </li>
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-user-circle"></i>
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{{ path('user_account') }}">Mon compte</a>
                    <a class="dropdown-item" href="{{ path('user_history') }}">Historique</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="{{ path('user_logout') }}">Logout</a>
                </div>
            </li>
            {% else %}
                <li class="nav-item mr-2">
                    <a class="nav-link text-dark" href="{{ path('user_login') }}">Connexion</a>
                </li>
                <li class="nav-item mr-2">
                    <a class="nav-link text-dark" href="{{ path('user_register') }}">Inscription</a>
                </li>
            {% endif %}
        </ul>
    </div>
</nav>