<html>
    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
        <div class="jumbotron">
            <h3>Facture du {{ "now"|date('Y-m-d') }}</h3>
            <p>Utilisateurs : {{ location.user.fullName }}</p>
            <p>Adresse : {{ location.user.fullAddress }}</p>
        </div>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Véhicule</th>
                    <th scope="col">Date de début de location</th>
                    <th scope="col">Date de fin de location</th>
                    <th scope="col">Prix a la journée (€/jour)</th>
                    <th scope="col">Prix total (€)</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>{{ location.vehicle }}</td>
                    <td>{{ location.startDate|date('Y/m/d H:i') }}</td>
                    <td>{{ location.endDate|date('Y/m/d H:i') }}</td>
                    <td>{{ location.announce.price }}</td>
                    <td>{{ location.pricePaid }}</td>
                </tr>
            </tbody>
        </table>

        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </body>
</html>