<div class="r-advantage-main-part">
    <div class="container clearfix">
        {% if annonces | length != 0 %}
            <div class="row clearfix r-best-offer-list">
                {% for annonce in annonces if annonce.vehicle.type == "voiture" %}
                    {% if loop.first %}
                        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                           <h5>VOITURE</h5>
                        </div>
                    {% endif %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="r-best-offer-single">
                            <div class="r-best-offer-in">
                                <div class="r-offer-img">
                                    <a class="d-inline-block description" href="#"
                                       data-href="{{ path('vehicleDescription', {'announceId' : annonce.id}) }}">
                                        {% if annonce.vehicle.photo %}
                                            <img src="{{ asset('uploads/' ~ annonce.vehicle.photo) }}"
                                                 class="img-fluid d-block m-auto" alt="">
                                        {% else %}
                                            <img src="{{ asset('images/best-01.jpg') }}"
                                                 class="img-fluid d-block m-auto" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="r-best-offer-content">
                                    <a class="description" href="#"
                                       data-href="{{ path('vehicleDescription', {'announceId' : annonce.id}) }}">
                                        <b>{{ annonce.vehicle.brand }}</b> {{ annonce.vehicle.model }}
                                    </a>
                                    <p><b>{{ annonce.price }} €</b> par jour(s)</p>
                                    <ul class="pl-0 mb-0">
                                        <li><i class="fa fa-car"></i><span>{{ annonce.vehicle.year | date('Y')}}</span></li>
                                        <li><i class="fa fa-cogs"></i><span>ELECTRIQUE</span></li>
                                        <li><i class="fa fa-road"></i><span>{{ annonce.vehicle.km }} KM</span></li>
                                    </ul>
                                </div>
                                <div class="r-offer-rewst-this">
                                    <span class="text-uppercase">Louer cette voiture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div class="row clearfix r-best-offer-list">
                {% for annonce in annonces if annonce.vehicle.type == "scooter" %}
                    {% if loop.first %}
                    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <h5>SCOOTER</h5>
                    </div>
                    {% endif %}
                    <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12 col-xs-12">
                        <div class="r-best-offer-single">
                            <div class="r-best-offer-in">
                                <div class="r-offer-img">
                                    <a href="#" class="d-inline-block description"
                                       data-href="{{ path('vehicleDescription', {'announceId' : annonce.id}) }}">
                                        {% if annonce.vehicle.photo %}
                                            <img src="{{ asset('uploads/' ~ annonce.vehicle.photo) }}"
                                                 class="img-fluid d-block m-auto" alt="">
                                        {% else %}
                                            <img src="{{ asset('images/best-01.jpg') }}"
                                                 class="img-fluid d-block m-auto" alt="">
                                        {% endif %}
                                    </a>
                                </div>
                                <div class="r-best-offer-content">
                                    <a href="#" class="description"
                                       data-href="{{ path('vehicleDescription', {'announceId' : annonce.id}) }}">
                                        <b>{{ annonce.vehicle.brand }}</b> {{ annonce.vehicle.model }}
                                    </a>
                                    <p><b>{{ annonce.price }} €</b> par jour(s)</p>
                                    <ul class="pl-0 mb-0">
                                        <li><i class="fa fa-car"></i><span>{{ annonce.vehicle.year | date('Y')}}</span></li>
                                        <li><i class="fa fa-cogs"></i><span>ELECTRIQUE</span></li>
                                        <li><i class="fa fa-road"></i><span>{{ annonce.vehicle.km }} KM</span></li>
                                    </ul>
                                </div>
                                <div class="r-offer-rewst-this">
                                    <span class="text-uppercase">Louer cette voiture</span>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <div id="modal-ajax-desc"></div>
        {% else %}
            <p style="display: flex;justify-content: center">Aucun résultat pour votre recherche...</p>
        {% endif %}
    </div>
</div>