{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        label.error {
            padding: 15px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 4px;
            color: #a94442;
            background-color: #f2dede;
            border-color: #ebccd1;
            width:100%;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="r-header r-header-inner">
        <div class="r-header-inner-banner">
            <div class="r-header-in-over">
                <h1><b>Louer mon vehicule</b></h1>
                <div class="r-breadcrum">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><span>Louer mon vehicule</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div id="announcement_body">
        <section id="r-login-register">
            <div class="r-login-register">
                <div class="r-login-register-in" style="display: flex;justify-content: center">
                    <div class="col-md-8">
                        <div class="r-auth-outer">
                            <div class="r-auth-head">
                                <h2><b>Créer une annonce</b></h2>
                                <span>Ajouter mon vehicule</span>
                            </div>
                            <div class="r-auth-form">
                                <div class="r-or-line">
                                    <span>VEHICULE</span>
                                </div>
                                {{ form_start(form) }}
                                {{ form_row(form._token) }}
                                {{ form_errors(form) }}
                                <div class="form-group">
                                    {{ form_widget(form.type) }}
                                    {% if form_errors(form.type) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.type) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.brand) }}
                                    {{ form_widget(form.brand) }}
                                    {% if form_errors(form.brand) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.brand) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.model) }}
                                    {{ form_widget(form.model) }}
                                    {% if form_errors(form.model) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.model) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.matriculation) }}
                                    {{ form_widget(form.matriculation) }}
                                    {% if form_errors(form.matriculation) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.matriculation) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.photo) }}
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">
                                            <i class="fa fa-upload"></i>
                                        </span>
                                        </div>
                                        <div class="custom-file">
                                            {{ form_widget(form.photo) }}
                                            <label class="custom-file-label" for="customFile">Selectionne une image</label>
                                        </div>
                                    </div>

                                    {% if form_errors(form.photo) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.photo) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.year) }}
                                    {{ form_widget(form.year) }}
                                    {% if form_errors(form.year) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.year) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.autonomy) }}
                                    {{ form_widget(form.autonomy) }}
                                    {% if form_errors(form.autonomy) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.autonomy) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group">
                                    {{ form_label(form.km) }}
                                    {{ form_widget(form.km) }}
                                    {% if form_errors(form.km) %}
                                        <div class="alert alert-danger" role="alert">
                                            {{ form_errors(form.km) }}
                                        </div>
                                    {% endif %}
                                </div>
                                <div id="div-ajax">
                                    {% if form.door is defined and form.place is defined %}
                                        <div class="form-group">
                                            {{ form_label(form.door) }}
                                            {{ form_widget(form.door) }}
                                            {% if form_errors(form.door) %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form_errors(form.door) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                        <div class="form-group">
                                            {{ form_label(form.place) }}
                                            {{ form_widget(form.place) }}
                                            {% if form_errors(form.place) %}
                                                <div class="alert alert-danger" role="alert">
                                                    {{ form_errors(form.place) }}
                                                </div>
                                            {% endif %}
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="form-group" style="display:flex;justify-content: center">
                                    <button type="submit" class="btn btn-full" id="next" data-href="{{ path('vehicleAnnounce') }}">Suivant</button>
                                </div>
                                {{ form_end(form, {'render_rest': false}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <section id="r-get-in-touch">
        <div class="r-get-in-touch">
            <div class="container">
                <div class="r-get-header">
                    <span>CONTACT US NOW</span>
                    <h2>Keep <b>In Touch.</b></h2>
                </div>
                <div class="r-get-form">
                    <form action="login-register.html#">
                        <div class="clearfix">
                            <div class="form-group"><input type="text" placeholder="User name"></div>
                            <div class="form-group"><input type="email" placeholder="Email Address"></div>
                        </div>
                        <div class="form-group"><input type="email" placeholder="Title Message"></div>
                        <div class="form-group">
                            <textarea placeholder="Message"></textarea>
                        </div>
                        <div class="text-center">
                            <button class="btn btn-full">SEND MESSAGE NOW</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        $(function() {
            formDataChange($("#{{ form.type.vars.id }}"));
            $("#{{ form.type.vars.id }}").on('change', function () {
                formDataChange($(this));
            });
        });
    </script>
{% endblock %}