{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="container" style="padding-top: 100px">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 class="display-4">Mon compte</h3>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    {{ form_start(formUser) }}
                    {{ form_row(formUser._token) }}
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td><b>{{ form_label(formUser.lastname) }}</b></td>
                                <td>{{ form_widget(formUser.lastname, {'value': infoUser.lastname}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.firstname) }}</b></td>
                                <td>{{ form_widget(formUser.firstname, { 'value': infoUser.firstname}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.birthdayDate) }}</b></td>
                                <td>{{ form_widget(formUser.birthdayDate, {'value': infoUser.birthdayDate | date('Y-m-d')}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.address) }}</b></td>
                                <td>{{ form_widget(formUser.address, {'value': infoUser.address}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.zipcode) }}</b></td>
                                <td>{{ form_widget(formUser.zipcode, {'value': infoUser.zipcode}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.city) }}</b></td>
                                <td>{{ form_widget(formUser.city, {'value': infoUser.city}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.phone) }}</b></td>
                                <td>{{ form_widget(formUser.phone, {'value': infoUser.phone}) }}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.email) }}</b></td>
                                <td>{{ form_widget(formUser.email, {'value': infoUser.email}) }}</td>
                            </tr>
                            <tr>
                                <td><b>Points de fidélités : </b></td>
                                <td>{{ (infoUser.loyaltyPoints != 0) ? infoUser.loyaltyPoints : 0}}</td>
                            </tr>
                            <tr>
                                <td><b>{{ form_label(formUser.licenseDriving) }}</b></td>
                                <td>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                                        </div>
                                        <div class="custom-file">
                                            {{ form_widget(formUser.licenseDriving) }}
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="form-group" style="display:flex;justify-content: center">
                        <button class="btn btn-full">Modifier</button>
                    </div>
                    {{ form_end(formUser) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}