{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mt-100">
        <div class="jumbotron text-center">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <h3 class="display-4">Historique des locations</h3>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-sm-12 col-md-12 col-lg-12">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            {% if locationFutur|length != 0 %}
                                <h5>Mes prochaines locations :</h5>
                                <table class="table table-responsive mt-3">
                                    <caption>Location future</caption>
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Marque</th>
                                        <th>Immatriculation</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for futur in locationFutur %}
                                        <tr>
                                            <td>{{ futur.brand }}</td>
                                            <td>{{ futur.matriculation }}</td>
                                            <td>{{ futur.address }}</td>
                                            <td>{{ futur.city }}</td>
                                            <td>{{ futur.startDate | date('j/m/Y') }}</td>
                                            <td>{{ futur.endDate | date('j/m/Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Aucune location en attente !</p>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            {% if locationDate|length != 0 %}
                                <h5>Mes locations :</h5>
                                <table class="table table-responsive mt-3">
                                    <caption>Location en cours</caption>
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Marque</th>
                                        <th>Immatriculation</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for date in locationDate %}
                                        <tr>
                                            <td>{{ date.brand }}</td>
                                            <td>{{ date.matriculation }}</td>
                                            <td>{{ date.address }}</td>
                                            <td>{{ date.city }}</td>
                                            <td>{{ date.startDate | date('j/m/Y') }}</td>
                                            <td>{{ date.endDate | date('j/m/Y') }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Aucune location en cours !</p>
                            {% endif %}
                        </li>
                        <li class="list-group-item">
                            {% if locationPast|length != 0 %}
                                <h5>Mes anciennes locations :</h5>
                                <table class="table d-sm-table mt-3">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th>Marque</th>
                                        <th>Immatriculation</th>
                                        <th>Adresse</th>
                                        <th>Ville</th>
                                        <th>Date de début</th>
                                        <th>Date de fin</th>
                                        <th>Prix</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for past in locationPast %}
                                        <tr>
                                            <td>{{ past.brand }}</td>
                                            <td>{{ past.matriculation }}</td>
                                            <td>{{ past.address }}</td>
                                            <td>{{ past.city }}</td>
                                            <td>{{ past.startDate | date('j/m/Y') }}</td>
                                            <td>{{ past.endDate | date('j/m/Y') }}</td>
                                            <td>{{ past.price*past.dateDiff }} €</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            {% else %}
                                <p>Aucune location passé !</p>
                            {% endif %}
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
{% endblock %}