{% extends 'base.html.twig' %}

{% block body %}
    <div class="r-header r-header-inner">
        <div class="r-header-inner-banner">
            <div class="r-header-in-over">
                <h1><b>Inscription</b></h1>
                <div class="r-breadcrum">
                    <ul>
                        <li><a href="{{ path('home') }}">Accueil</a></li>
                        <li><span>Inscription</span></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <section id="r-login-register">
        <div class="r-login-register">
            <div class="r-login-register-in" style="display: flex;justify-content: center">
                <div class="col-md-8">
                    <div class="r-auth-outer r-register">
                        <div class="r-auth-head">
                            <h2><b>Inscription</b></h2>
                            <span>Required information for account creation</span>
                        </div>
                        <div class="r-auth-form">
                            <div class="r-or-line"><span>OR SIGN IN</span></div>

                            {{ form_start(registrationForm) }}
                            {{ form_row(registrationForm._token) }}
                            <div class="form-group">
                                {{ form_widget(registrationForm.email) }}
                                {% if form_errors(registrationForm.email) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.email) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.plainPassword) }}
                                {% if form_errors(registrationForm.plainPassword) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.plainPassword) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.lastname) }}
                                {% if form_errors(registrationForm.lastname) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.lastname) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.firstname) }}
                                {% if form_errors(registrationForm.firstname) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.firstname) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.birthdayDate) }}
                                {% if form_errors(registrationForm.birthdayDate) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.birthdayDate) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.address) }}
                                {% if form_errors(registrationForm.address) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.address) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.zipcode) }}
                                {% if form_errors(registrationForm.zipcode) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.zipcode) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.city) }}
                                {% if form_errors(registrationForm.city) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.city) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form_widget(registrationForm.phone) }}
                                {% if form_errors(registrationForm.phone) %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ form_errors(registrationForm.phone) }}
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group" style="display:flex;justify-content: center">
                                <button class="btn btn-full">Inscription</button>
                            </div>
                            {{ form_end(registrationForm) }}
                        </div>
                        <div class="r-from-inof">
                            <p class="text-center">Déja inscrit ? <a href="{{ path("user_login") }}">Connecte toi</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}